
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,500;1,700&display=swap");

/**  INCIALIZACION **/
:root {
  --negro: #020202; 
  --blanco: #EFEFEF;
  --plomo:#222; 
  --piel:#caae81;
  
  /* Tipografía */
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: var(--font-family) ;
  }

  img, picture, video, iframe, figure {
    width: 100%;
  }

/**  FIN - INCIALIZACION **/

/**  Estilos Personalizados por Etiquetas **/

h1{
  font-size: 40px;
}
  
h2{
  font-size: 30px;
  font-weight: 500;
}

h3{
  font-size: 20px;
  font-weight: 400;
}

a{
color:var(--piel);
}


p{
  color: #eee ;
}


hr{
  border: 0;
  border-top: 1px solid #eee;
  margin: 10px 0;
  width: 160px;
  border-color: var(--piel);
}

.w3-padding-m{
  padding: .5rem;
}

.w3-padding-1 {
  padding: 1rem;
}

.w3-padding-2 {
  padding: 2rem ;
}
  
.w3-padding-lados-1{
  padding: 0px 1rem;
}

.w3-padding-arriba-m {padding: .5rem 0 ;}
.w3-padding-arriba-1{padding: 1rem 0 ;}

.w3-padding-arriba-2{padding: 2rem 0 ;} 

.f-bold{
  font-weight: bold;
}




/******************************************************/


/********************** INICIO ************************/

body {
  overflow: auto; 
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap:wrap;
  position:absolute;
  color: white;
  background-color: var(--negro);
  width:100%;
}

  
.main{
  width:100%;
}


#inicio .switch{
  background-color: #f8f8f8!important;
  color: #222!important;
}

.switch{
  color: #222!important;
  background-color: #f8f8f8!important;
}



.menu{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  padding: .5rem 1rem;
}

.menu a.menu_link p{
  font-size: 12px;
}

.menu_link{
align-items: center;
align-content: center;
}
/*
.menu_link:first-child {
display:none;
margin: 0px;
padding:0px;
height: 190px;
}*/

.menu_link:nth-child(6){
display:none;
}


.header_info{
  margin-top: .5rem;
  text-align: center;
  padding: 1rem;
}

.header_img img{
  width: 100%;
  max-width: 100%;
  filter: drop-shadow(0px 1px 6px #f4ff92);
  padding: 1rem;
}

.header_info h1{
  color:rgb(244, 255, 146);
}

.header p{
text-align: center;
}

.header_iconos{
text-align: center;
padding-top: 1rem;
}

.header_iconos  a {
  padding-right: 1rem;
}

.header_iconos i{
font-size: 25px;
}

.header img{
max-width:350px;
display:block;
margin:auto;  
}

#header > header > p.w3-padding-m {
color: var(--blanco)
}

#header > header > div > a {
padding:1px 5px;
}

.espacio-boton{
  padding: 1rem;
}

/*****************************/

/** Toggle Modo oscuro & ligth*/

#toggle-mode{
  position:absolute;
  width: 50px;
  height: 30px;
  border-radius: 160px;
  background: #a3a2a2;
  transition: 0.5s;
 box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.1);
  top:1rem;
  right:1rem;
}

.indicator{
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(to bottom,#494949,#0e0e0e);
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: inset 0 8px 40px rgba(0,0,0,0.5), inset 0 4px 4px rgba(46, 45, 45, 0.2), inset 0 -4px 4px rgba(43, 42, 42, 0.2);
  transition: 0.5s;
  background-image: url('../img/icon-sun.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter:invert(1) ;
}

#toggle-mode.switch .indicator{
  background: #a3a2a2;
  left: 20px;
  background: linear-gradient(to bottom,#494949,#0e0e0e);
  background-image: url('../img/icon-moon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #808080;
}


/******************************************************************/


/******* - ACERCA - *********/
.about{
  margin-top: 1rem;
  padding: 1rem;
}
/*******************************************************************/

.contact{
  display:flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: start;
  padding: 1rem;
}

.contact_title{
  width: 100%;
}

.contact_datos{
  width: 100%;
}

.contact_form{
  width: 100%;
}

.contact_form p{
   width:100%;
   padding: 5px 0px;
}

form{
  width: 100%;
  margin-top: 1rem;
}

input{
  width:100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}



.button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #c7c7c7;
  color: black;
}

nav  a  i{
  visibility: hidden;
}


a {
  color:#d8d8d8;
  text-decoration: none;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skills_imagenes {
  max-width: 50px;
}

.skills_imagenes img{
  object-fit: contain;
  width: 100%;
  height: inherit;
  filter: drop-shadow(0px 1px 6px rgb(255, 219, 99));
}


.container-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .5rem;
}




.iframe{
  margin-top: 1rem;
  max-height: 470px;
}


/******************************************************************/

/*****   portafolio *****/

.portafolio{
  width:100%;
  margin-top: .5rems;
  padding: 1rem;
}

.portafolio-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap:40px;
  margin: 0;
  padding: 0;
}

.portafolio_card_description{
  font-size: 14px;
  padding: 1rem;
}


.portafolio_title{
  width:100%;
}

.portafolio_img{
 position: relative;
 height: 200px;
}

.portafolio_content{
  margin: 0;
  padding: 0;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #222;
}

.portafolio_card_name{
  background-color:  #525252;
  padding: .6rem;
  color: white;
}


.portafolio_skills{
  color: #020202;
  background-color:#ffffff;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: .5rem;
  align-items: center;
}

.portafolio_skills a i{
  color: #222;
  font-size: 20px;
  padding: .4rem;
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgb(24, 24, 24);
  transition: transform .2s; 
}


.portafolio_skills a i:hover{
 background-color: rgb(26, 26, 26);
 color: rgb(255, 255, 255);
 box-shadow: 1px 1px 2px black;
}


.portafolio_iconos i{
  font-size: 22px;
}

.portafolio_img img{ 
  width: 100%;
  object-fit: fill;
  margin: 0;
  padding: 0;
  height: 100%;
}

.titulo{
 margin: 2rem 0 1rem;
}

/******** Services **********/



.service-cards{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  background-image: url("../img/poster-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.service-cards:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgba(52, 53, 31, 0.432);
}

.service-card{
  z-index: 10;
  box-shadow: 1px 1px 8px rgb(24, 24, 24);
  width: 100%;
}



.xd{
  margin-top: .5rem; 
  padding: 0rem 1rem;
}

.xd_wordpress{
  width: 100%;
}

.xd_wordpress p:first-child{
  margin: 1rem 0;
}

/***Footer**/

.footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.footer_logo  img{
width: 200px;
text-align:center;
}


#header > footer > div.footer_social > div > a {
  padding: 0 2px;
}



.burble{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: #222;
  padding: 1rem;
  height: 100%;
  background-color: #f1f1f1;
}

.burble-txt{
  color: #505050;
}

.burble-element{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: baseline;
  gap: 2px;
  color: #222;
}



.burble-element-icon{
font-size: 12px;
border-radius: 1rem;
color: white;
background-color: #020202;
border: 2px solid wheat;
padding: .2rem .4rem;
}

.burble-button{
display: none;
}


/*----------------------------------------------------------------- min-width: 990px -----------------------------------------------------------*/
@media only screen and  (min-width: 990px) {
 
  /********************* Main ************************/

  .main{
    width:80%;
  }

  p{
    font-size:17px;
  }


  .menu_link:hover{
    background-color:var(--negro);
    border: 1px solid var(--negro); 
   }

 
  .menu{
      background-color: var(--plomo);
      display:flex;
      flex-direction: column;
      height: 100vh;
      align-items:center;
      justify-content: center;
      align-content: center;
      max-width: 12%;
      position: sticky;
      top: 0;
      left: 0;
      padding: 0rem ;
  }
  .menu_link {
    list-style-type: none;
    width:100%;
    height: 100px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    align-content: center;
    color:white;
   }

   .menu_link p {
    text-align: center;
   }

/*
   .menu_link:first-child{
       list-style-type: none;
    width:100%;
    height: 100px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    align-content: center;
    color:white;
   }
*/
   .menu_link img{
    object-fit: cover;
    height: 190px;
    width: 100%;
   }
   
   .menu_link i {
    padding: .5rem;
    font-size: 28px;
   }

   .menu a:target{
    background-color: red!important;
   }

  .main {
    justify-content: center;
    width: 80%;
    max-width: 1240px;
    margin:auto;
    position: relative;
  }

   nav  a  i{
    visibility: initial;
  }

.activo{
    background-color:var(--negro);
  }

   
  /********************* Header ************************/

  .header{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin:6rem auto;
  }

  .header_info{
    display: flex;
    flex-direction: column;
    justify-items: left;
    justify-content: baseline;
    width: 50%;
    text-align: left;
    padding: 0rem;
  }

  .header_info h1{
    color:rgb(244, 255, 146);
  }

  .header_iconos{
    align-items: baseline;
  }
  .header_iconos .fa{
    font-weight: 100px!important;
  }

  .header p {
    text-align: left;
  }

  .header_iconos {
    text-align: left;
  }
  .header_iconos  a {
    color: #d8d8d8;
    text-decoration: none;
    padding-right: .5rem;
  }

  .header_iconos> i{
    font-size: 25px;
    padding:  1rem .5rem;
  }

  .header_img{
    width: 50%;
  }

  .header_img img{
    width: 100%;
    max-width: 100%;
    filter: drop-shadow(0px 1px 6px #f4ff92);
  }

 
  /********************* About ************************/

  .about{
    width: 100%;
    position: relative;
    padding: 0rem;
    margin: 0rem;
  }


.container-skills{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  gap:0rem;
}
 
.skills_imagenes{
  margin: auto;
  max-width: 90px;
  height: 70px;
}

.skills_imagenes img{
  filter: drop-shadow(0px 1px 6px rgb(255, 219, 99));
}


/********************* Portafolio ************************/

  .portafolio{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 3rem;
    padding: 0rem;
  }
  
  .portafolio_title{
    width:100%;
  }



  .portafolio_card_name{
    background-color:  #525252;
   
  }

  .portafolio_card_herramientas{
    background-color:#ffffff;
  }

  .portafolio_skills{
    color: #020202;
    font-size: 22px;
    display: flex;
    flex-direction: row;
  }

  
  .portafolio_content{
    margin: 0;
    padding: 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }


  .burble{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: #222;
    padding: 1rem;
    min-height: 300px;
    height: 100%;
    justify-content: space-around;
  }



/****************************** Servicios **********************/


.service-cards{
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.service-card{
  z-index: 10;
  box-shadow: 1px 1px 8px rgb(24, 24, 24);
  width: 33%;
}


.xd{
  margin-top: 2rem; 
  padding: 0rem ;
}

.xd_wordpress{
  margin: 1rem 0rem;
width: 100%;
}

.xd_wordpress_img{
  width: 50%;
  border: #c7c7c7;
}



.xd_wordpress_info{
  justify-content: flex-start;
  width: 50%;
  padding-right: 2rem;
}



.contact{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: start;
  margin-top: 2rem;
  padding: 0;
}

.contact_title{
  width: 100%;
}

.contact_datos{
  width: 50%;
}

.contact_form{
  width: 50%;
}

.contact_form p{
  width:100%;
   padding: 10px 0px;
}

form{
  width: 80%;
  padding: 0rem;
  margin: 0rem;
}

input{
  width:100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.button i {
 padding-right: .5rem;
}


  .footer{
    flex-basis:100%;
    width:100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-content:center;
    align-items: center;
    
  }

  .footer_logo{
    width:50%;
    flex-grow:1;
 
  }

  .footer_logo img{
    width:240px;
  }

  .footer_social{
    width:50%;
    flex-grow:1;
    text-align: end;
    align-content:center;
    align-items: center;
    flex-direction:column;
  }

  .social a{
    padding-left: .5rem;
    padding-top: .5rem;
  }
 
}

